<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns" class="fei-caption num fei-color-white fei-bg-color-black500 fei-py-2 fei-px-2">
        {{column}}
      </th>
      <th class="fei-caption num fei-color-white fei-bg-color-black500 fei-py-2 fei-px-2"><!-- button column --></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of dataList; even as even">
      <tr [ngClass]="[even ? 'fei-bg-color-white' : 'fei-bg-color-blue50']">
        <td *ngFor="let column of columns" class="fei-caption num fei-color-black500 fei-py-2 fei-px-2">
          <ng-container *ngIf="editableColumns.includes(column); else notEditable">
            <input type="number" [value]="data[column]" class="fei-border-black200 fei-p-1 fei-round-1">
          </ng-container>
          <ng-template #notEditable>
            {{ data[column] }}
          </ng-template>
        </td>
        <td class="fei-caption num fei-color-black500 fei-py-2 fei-px-4">
          <fei-button label="更新" size="s" (click)="update(data)"></fei-button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>